body{
  display: flex;
}
.box{
  width: 100px;
  height: 100px;
  background: #87ceeb;
  margin: 0 8px;
  transition: .8s;
}
.win{
  background: pink;
  border-radius: 50%;
  transform: rotate(360deg);
  text-align: center;
  line-height: 100px;
}
.lose{
  text-align: center;
  line-height: 100px;
  transform: scale(.8);
}